body{
    background-color: rgba(25, 125, 143, 10);
    font-family: calibri;
    font-size: 33px;
}

button{
    color: red;
    background-color: yellowgreen;
}

p{
    color: yellowgreen;
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6{
    color: orangered;
}

.first_pg{
    color: yellow;
    font-size: 24px;
}